$bg-color: #34495e;
$border-btm-color: #2980b9;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg-color;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  height: 80vh;
  align-items: center;
  overflow: hidden;

  .header,
  .header-p {
    text-align: center;
    margin: 1rem 0;
  }
}

.game-container {
  position: relative;
  height: 350px;
  width: 450px;

  padding: 1.2rem 1.5rem;

  .wrong-container {
    position: absolute;
    top: 40px;
    right: 20px;
  }

  .word {
    font-size: 2rem;
    text-align: center;
    position: absolute;
    bottom: -40px;
    left: 50%;
    display: flex;
    transform: translateX(-50%);

    .letter {
      border-bottom: 3px solid $border-btm-color;
      display: inline-flex;
      margin: 1rem 0.5rem 0;
      text-align: center;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 50px;
    }
  }
}

.figure-container {
  fill: transparent;
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;

  .figure-part {
    display: none;

    &.show-part {
      display: block;
    }
  }
}

.gameover-container {
  position: absolute;
  // display: flex;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($color: #000000, $alpha: 0.6);

  .gameover {
    position: fixed;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $border-btm-color;
    padding: 3rem 3rem;
    width: 400px;
    text-align: center;
    font-size: 120%;
    border-radius: 5px;
    box-shadow: 0 5px 10px 3px rgba($color: #000000, $alpha: 0.3);

    .gameover-btn {
      cursor: pointer;
      background-color: #fff;
      padding: 0.5rem;
      border: none;
      font-size: 1.1rem;
      color: $border-btm-color;
      width: 150px;
      margin: 2.5rem auto 0;

      &:focus {
        outline: 0;
      }
      &:active {
        transform: scale(0.98);
      }
    }
  }
}

.message-container {
  background-color: rgba($color: #000000, $alpha: 0.3);
  padding: 1rem;
  border-radius: 10px 10px 0 0;
  position: absolute;
  bottom: -50px;
  transition: transform 0.4s ease-in-out;

  p {
    margin: 0;
  }

  &.show {
    transform: translateY(-50px);
  }
}
