@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

$plus: #2ecc71;
$minus: #c0392b;
$bg: #f7f7f7;
$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$border-bottom-h3: #bbb;
$border-clr: #dedede;
$delete-btn: #e74c3c;
$btn: #9c88ff;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: $bg;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 350px;
  margin: 2rem auto 0;

  h1,
  h4 {
    margin: 0;
  }

  h1 {
    letter-spacing: 1px;
    margin-bottom: 1rem;
  }

  .inc-exp-container {
    display: flex;
    justify-content: space-between;
    box-shadow: $box-shadow;
    padding: 1.5rem 2rem;
    background-color: #fff;
    border-radius: 2px;

    & > div {
      flex: 1;
      text-align: center;
      text-transform: uppercase;

      h4 {
        margin-bottom: 0.4rem;
      }
    }
    & > div:first-of-type {
      border-right: 1px solid $border-clr;
    }

    & .money {
      margin: 0;
      letter-spacing: 1px;
      font-size: 1.3rem;
    }

    & .money.plus {
      color: $plus;
    }
    & .money.minus {
      color: $minus;
    }
  }

  h3 {
    border-bottom: 2px solid $border-bottom-h3;
    padding-bottom: 0.7rem;
  }

  .list {
    list-style: none;
    padding: 0;
    li {
      background-color: #fff;
      display: block;
      width: 100%;
      padding: 0.7rem 0.8rem;
      box-shadow: $box-shadow;
      position: relative;
      display: flex;
      justify-content: space-between;
      border-radius: 2px;
      margin: 1rem 0;

      .delete-btn {
        background-color: $delete-btn;
        border: none;
        color: #fff;
        font-size: 1.2rem;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-100%, -50%);
        opacity: 0;
        transition: opacity 0.3s ease;
        cursor: pointer;

        &:focus {
          outline: 0;
        }
      }

      &:hover .delete-btn {
        opacity: 1;
      }

      &.plus {
        border-right: 4px solid $plus;
      }
      &.minus {
        border-right: 4px solid $minus;
      }
    }
  }

  .form {
    label {
      display: inline-block;
    }

    input[type='text'],
    input[type='number'] {
      display: block;
      padding: 0.5rem 1rem;
      width: 100%;
      margin: 0.5rem 0;
      border: 1px solid $border-clr;
      font-size: 1rem;
      border-radius: 2px;
    }

    .submit-btn {
      display: block;
      background-color: $btn;
      color: #fff;
      width: 100%;
      border: 0;
      margin: 1rem 0 4rem;
      padding: 0.7rem;
      font-size: 1rem;
      border-radius: 2px;
      cursor: pointer;

      &:focus {
        outline: 0;
      }
    }
  }
}
